{% extends "base.html" %}

{% load static %}
<title>
    Stip Store
</title>

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
{% endblock base_head %}

{% block content %}
    <div class='text-center'>
        <h1>{{ title }}</h1>
        
    </div>
    <div class='row'>
        <div class='col'>
        <img src="{% static 'aguia_png.png' %}" class='img-fluid' />
        
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <div class='row'>
        <div class='col'>
            <h1>Nosso objetivo é sempre ganhar um cliente e amigo</h1>
            <p>{{ premium_content }}</p>
        </div>
        </div>
        {% endif %}
{% endblock %}

